<div class="_login_container">
  <img class="_login_logo" src="/Assets/logo2.png">
  <div class="_login_box">
    <div class="_login_box_header">
      Login
    </div>
    <div class="_login_box_main">
      <div class="_login_box_button" onclick="LoginWithReplit()">
        Repl.it
        <img data-module="Icon" src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/1f48c.svg"
      </div>
    </div>
    <div class="_login_box_footer">
      "Penso, logo Desisto."
    </div>
  </div>
</div>