<div class="_dashboard_header">
  <div class="_header_logo_container">
    <img class="_header_logo" src="/Assets/logo2.png">
    <img class="_header_glitter" src="/Assets/glitter.png">
  </div>
  <div class="_header_user_container">
    <img class="_header_user_icon" src="<%=repl_user.profileImage%>">
    <svg viewBox="0 0 64 64" aria-hidden="true" style="width: 12px; height: 20px;"><path d="M20,8 L44,32 L20,56" transform="translate(32,32) rotate(90) translate(-32,-32)" stroke="currentColor" stroke-width="10" fill="none"></path></svg>
  </div>
</div>